.graph-layout-container {
  background-color: var(--color1);
  margin-left: 0px;
}
.graph-layout-inner-contaier {
  width: 100%;
  height: 100%;
}
/* .graph-layout-inner-contaier > .line-chart > canvas {
  height: 350px !important;
} */
.graph-2-4-container {
  width: 100%;
}
.graph-layout-inner-contaier .graph-2-4-container .line-chart {
  width: 98%;
  height: 250px;
  margin: 12px;
}
.graph-layout-inner-contaier .graph-2-4-container .line-chart > canvas {
  width: 100% !important;
}
.graph-layout-title {
  color: white;
  margin-left: 12px;
  padding-top: 12px;
}
.graph-layout-inner-contaier .graph-3-4-container .line-chart {
  width: 100%;
  height: 250px;
  padding: 15px;
}
.graph-layout-inner-contaier .graph-4-4-container .line-chart {
  width: 99%;
  height: 250px;
  margin: 12px;
}
